.container-section {
    padding: 0;
    background: transparent;
}

.mat-form-field {
    width: 100%;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    background-color: #f1f5f9;
    color: #475569;
    text-transform: uppercase;
    font-size: 18px !important;
    font-weight: 550;
}

td {
    color: #64748b;
    font-size: 17px !important;
}

tr:hover {
    background-color: #f8fafc;
    cursor: pointer;
}

.material-symbols-outlined {
    font-size: 18px;
}

.btn-xs {
    padding: 0.20rem 0.70rem !important;
    font-size: 0.75rem !important;
    font-weight: 600 !important;
    border-radius: 10px !important;
}
